<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807947208622-qbic30ha58s1k51qp50d5sc93flu6hq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807947208622-qbic30ha58s1k51qp50d5sc93flu6hq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBohU-el_fdgh6g6wMBoyehEPi23LmZRN4</string>
	<key>GCM_SENDER_ID</key>
	<string>807947208622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.DevStaff</string>
	<key>PROJECT_ID</key>
	<string>devstaff-30692</string>
	<key>STORAGE_BUCKET</key>
	<string>devstaff-30692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807947208622:ios:eb54964f5f2e315026aa3f</string>
</dict>
</plist>